<div id="<%= dom_id namantaran %>">
  <tr>
    <td>
      <span style="font-family:&quot;Kruti Dev 010&quot;;">
        <%= page_no %>
      </span>  
    </td>
    <td>
      <span style="font-family:&quot;Kruti Dev 010&quot;;">
        <%= namantaran.flat_no %>
      </span>  
    </td>
    <td>
      <span style="font-family:&quot;Kruti Dev 010&quot;;">
        <%= namantaran.pin_no %>
      </span>  
    </td>
    <td>
      <span style="font-family:&quot;Kruti Dev 010&quot;;">
        <%= namantaran.ka_naam %>
      </span>  
    </td>
    <td>
      <a href="<%= edit_namantaran_path(namantaran) %>">
        <button class="button blue" style='padding: 5px 15px; font-size: 15px;'>Edit</button>
      </a>
    </td>
  </tr>
</div>
